@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SfRegular";
  src: url("./fonts/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
  font-family: "SfMedium";
  src: url("./fonts/SFPRODISPLAYMEDIUM.OTF");
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
